body{
    background-image: url('/moreDarkPurple.gif');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    font-family: 'VT323', monospace;
    font-size: 40px;
    width: 100%;
    overflow-x:hidden
}

.shortBio {
    font-size: 45px;
    color: #7d8abe;
    max-width: 1000px;
}

.relatedCoursework li {
    font-size: 50px;
    text-align: left;
}

.RCW {
    text-decoration: none;
    font-size: 50px;
    padding: 10px 20px;
    border: 3px solid;
    border-radius: 20px;
    color: #A25772;
    margin-bottom: 10px;
}

.CWTitle {
    color: #83A2FF;
    margin-top: 100px;
}

.CWTitle:hover {
    color: antiquewhite;
}

.linkOther {
    text-decoration: none;
    border: 10px solid;
    border-radius: 10px;
    color: #FFD1E3;
    display: flex;
    width: auto;
    background-color: hsl(247, 34%, 29%, 0.65);
    margin-right: 30px;
    height: 150px;
    width: 150px;
}

#github {
    position: relative;
    width: 130px;
    padding-left: 10px;
    padding-top: 10px;
}
    
#linkedin {
    position: relative;
    width: 100px;
    padding-top: 30px;
    padding-left: 25px;
}
    
#email {
    position: relative;
    width: 150px;
    padding-top: -50px;
    padding-left: -20px;
}




.linkOther:hover {
    background-color: rgba(238, 245, 255, 0.6);
}


.addLinks {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #67729D;
    position: relative;
}

.virgo:hover {
    color: #3876BF;
}

.turkish:hover {
    color: red;
}

.popup-image {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Position it to the right of the text */
    transform: translateX(50px); /* Add some space between text and image */
}

.turkish:hover + .popup-image {
    display: block;
}

.nomad:hover {
    color: blue;
}

.NDF:hover {
    color: pink;
}

.NDF::after {
    content: "My fav couple is Anna & Mursel";
    font-size: 50px;
    display: none;
    position: absolute;
    top: 100%;
}

.NDF:hover::after {
    display: block;
}

.nintendoSwitch {
    color: #B31312;
}

.nintendoSwitch:hover{
    color: #3559E0;
}

.nintendoSwitch::after{
    content: "Some games I play: Overwatch 2, Puzzle & Indie Games";
    font-size: 45px;
    display: none;
    position: absolute;
    right: 35%;
    top: 45%;
}

.nintendoSwitch:hover::after{
    display: block;
    max-width: 400px;
}

.list h1,
.list ul {
    display: block;
    margin-left: 400px;
    color: #67729D;
}

.list h1:hover,
.list li:hover {
    color: antiquewhite;
}

.link {
    margin-bottom: 17px;
}

.link a:hover{
    color: antiquewhite !important;
}

.relatedCoursework li {
    color:#67729D
}

.relatedCoursework li:hover {
    color: #AEC3AE;
}

.container li {
    font-size: 50px;
}

.container li:hover{
    color: antiquewhite;
}

.category {
    display: block; /* Make anchor tags block-level to center them */
    margin-bottom: 50px; /* Add some space between links */
    text-decoration: none;
    font-size: 70px;
    padding: 20px;
    color: #99627A;
    border: 10px solid;
    border-radius: 20px;
}

.category:hover {
    color: antiquewhite;
}

.backButton {
    color: #BE5A83;
    text-decoration: none;
    font-size: 50px;
    padding: 10px 20px;
    border: 3px solid;
    border-radius: 20px;
    display: inline-block;
}

.backButton:hover {
    color: whitesmoke;
}


.UT {
    color: orange;
    text-decoration: none;
}

.UT:hover {
    color: antiquewhite;
}

.gongCha {
    color: #C499F3;
    text-decoration: none;
}

.gongCha:hover{
    color: #E6A4B4;
}

.UTCS {
    color: rgb(140, 100, 234);
    text-decoration: none;
}

.UTCS:hover {
    color: antiquewhite;
}

.navBar a {
    text-decoration: none;
    font-size: 80px;
    color: #504099;
    color: #FFD1E3;
    margin-left: 200px;
    margin-right: 50px;
}

.navBar {
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
}

.navBar a:hover{
    color: aliceblue;
    color: #504099;
}

#link {
    text-decoration: none;
}

#FEBox a{
    color: #AD88C6;
}

.resumeLink {
    text-decoration: none;
    color: #E59BE9;
}

/* Responsive styles for smaller (laptop) screens */
@media screen and (max-width: 1600px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }

    /* Adjust the width of each pixelated-rectangle in smaller screens */
    .pixelated-rectangle {
        width: calc(33.33% - 20px); /* 20px for margin between items */
        height: auto;
        margin: 10px; /* Adjust margin for space between items */
        overflow: hidden;
    }

    .pixelated-rectangle img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        background-size: cover; 
        background-position: center;
    }


    .navBar {
        text-align: center; /* Center the links for small screens */
        padding-bottom: 10px;
    }

    .navBar a {
        width: 100%; /* Make each link take up the full width */
        display: block; /* Display links as block elements for better stacking */
        margin: 10px 0; /* Add some space between links */
    }

    .relatedCoursework li {
        font-size: 50px;
        text-align: left;
    }

    #bioName {
        font-size: 50px;
        max-height: 200px;
        color: #67729D;
    }

    #bioTitle {
        font-size: 50px;
        color: #67729D;
    }

    .linkOther {
        text-decoration: none;
        border: 7px solid;
        border-radius: 10px;
        color: #FFD1E3;
        width: auto;
        background-color: hsl(247, 34%, 29%, 0.65);
        margin-right: 15px;
        height: 120px;
        width: 120px;
    }

    #github {
        position: relative;
        width: 100px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #linkedin {
        position: relative;
        width: 85px;
        top: -10px;
        left: -10px;
    }

    #email {
        position: relative;
        width: 120px;
        padding-top: -80px;
    }

    .nintendoSwitch::after{
        content: "Some games I play: Overwatch 2, Puzzle & Indie Games";
        font-size: 45px;
        display: none;
        position: absolute;
        right: 40%;
        top: 85%;
    }
    
    .nintendoSwitch:hover::after{
        display: block;
        max-width: 400px;
    }

}

/* For bigger screens */
@media screen and (min-width: 1601px) {

    .pixelated-rectangle {
        width: calc(33.33% - 20px); 
        height: auto;
        margin: 10px;
        overflow: hidden;
    }

    .pixelated-rectangle img{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        background-size: cover; 
        background-position: center;
    }

    .imgCon{
        position: absolute;
        top: 10%;
        right: 40%
    }


}


/* Responsive styles for smaller (smartphone) screens */
@media screen and (max-width: 767px) {
    .navBar {
        text-align: center; /* Center the links for small screens */
        padding-bottom: 100px;
    }

    .navBar a {
        width: 100%; /* Make each link take up the full width */
        display: block; /* Display links as block elements for stacking */
        margin: 10px 0; /* Add space between links */
        font-size: 24px; /* Adjust the font size for better mobile readability */
    }

    #bioName {
        font-size: 30px;
    }

    #bioTitle {
        font-size: 30px;
    }

    #bioMe {
        width: 250px;
    }

    .shortBio {
        font-size: 25px;
        max-width: 300px;
    }

    .linkOther {
        text-decoration: none;
        border: 7px solid;
        border-radius: 10px;
        color: #FFD1E3;
        width: auto;
        background-color: hsl(247, 34%, 29%, 0.65);
        margin-right: 15px;
        height: 70px;
        width: 70px;
    }

    .addLinks {
        display: flex;
        flex-direction: row;
    }

    #github {
        position: relative;
        width: 60px;
        left: -5px;
        top: -5px;
    }
    
    #linkedin {
        position: relative;
        width: 50px;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    #email {
        position: relative;
        width: 75px;
        top: -1px;
        left: -2px;
    }

    .RCW{
        font-size: 30px;
    }

    .relatedCoursework li {
        font-size: 30px;
        text-align: left;
    }

    .CWTitle {
        font-size: 30px;
    }

    .addLinks{
        justify-content: center;
        padding: 5px 5px 5px 10px;
    }

    .container h1{
        width: 100%; /* Make each link take up the full width */
        display: flex; /* Display links as block elements for stacking */
        flex-direction: column;
        font-size: 34px; /* Adjust the font size for better mobile readability */
    }

    .list h1{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        justify-content: center;
        font-size: 30px;
    }

    .list ul{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        justify-content: left;
        font-size: 30px;
        text-align: left;
    }

    .category {
    margin-bottom: 10px;
    font-size: 10px;
    padding-top: 30px;
}



}



.bigContainer {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.containerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -100px;
}

.title{
    color: #FF869E;
}

.title:hover{
    color: #900C3F;
}

.pixelated-rectangle {
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    width: 500px;
    height: auto; 
    background-color: #3B185F;
    background-size: 20px 20px;
    position: relative;
    margin-left:4dvw;
    margin-top:5dvh;
    display: block;
    justify-content: center;
    align-items: center;
    color: #46458C;
    border-top: 12px solid #4D4C7D;
    border-right: 12px solid #4D4C7D;
    border-bottom: 12px solid #4D4C7D;
    border-left: 12px solid #4D4C7D;
    border-radius: 10px;
}


.pixelated-rectangle:hover {
    background-color: #A25772;
    color: #643A6B;
    border-top: 12px solid #4D3C77;
    border-right: 12px solid #4D3C77;
    border-bottom: 12px solid #4D3C77;
    border-left: 12px solid #4D3C77;
}

.flex-container {
    display: flex;
}

.linkRow a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #7d8abe;
}

.additionalLinks a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #7d8abe;
    border: 2px solid;
    padding: 10px 15px;
    border-radius: 40px;
}

.button:hover {
    background-color: #0056b3
}

.name {
    color: #67729D;
}

@keyframes floating-up {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes floating-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}
  
.floating-text-up{
    font-size: 80px;
    animation: floating-up 1s infinite; /* Use the "floating" animation for 2 seconds, and repeat infinitely */
    color: #67729D;
    text-decoration: none;
}

.floating-text-down {
    font-size: 80px;
    animation: floating-down 1s infinite; /* Use the "floating" animation for 2 seconds, and repeat infinitely */
    color: #67729D;
    text-decoration: none;
}

.newCon {

}

.imgCon{
    position: relative;
    top: -100px; /* Adjust this value to vertically center the image */
    right: -900px; /* Adjust this value to position the image from the right side */
}


@keyframes cursor-blink {
    0% {
      border-right: 5px solid transparent;
    }
    50% {
      border-right: 5px solid #67729D;
    }
    100% {
      border-right: 5px solid transparent;
    }
  }
  
  #typeEff {
    display: inline-block;
    color: #67729D;
    font-size: 60px;
    margin-left: 200px;
    margin-top: 100px;
  }
  
  .cursor {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 0;
    height: 44px;
    margin-left: -12px;
    animation: cursor-blink 1s infinite; /* Adjust blink speed */
  }
  

